<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32 bg-black min-h-screen flex items-center">
  <div class="text-white bg-slate-900 px-2 py-2 max-h-[72vh] overflow-scroll w-full">
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
    <div>Community Chat</div>
  </div>
</div>
